*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

localhost+2.pem
localhost+2-key.pem

node_modules
dist
dist-ssr
*.local
tsconfig.tsbuildinfo
.stockfish

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
